# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [114]:
import pandas as pd
movies_df = pd.read_csv("../../caiov/ICD/movies.csv")

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [115]:
# ADICIONE O SEU CÓDIGO AQUI

movies_genre = movies_df.groupby("Major Genre").mean()    #Média dos valores dos gêneros
movies_genre.sort_values(by="Worldwide Gross", ascending=False)[["Worldwide Gross"]]

                     Worldwide Gross
Major Genre
Adventure               2.411714e+08
Action                  1.438943e+08
Romantic Comedy         8.661785e+07
Thriller/Suspense       8.058865e+07
Comedy                  7.475378e+07
Musical                 7.367620e+07
Horror                  6.082958e+07
Drama                   5.130059e+07
Western                 3.614925e+07
Concert/Performance     3.072440e+07
Black Comedy            2.290755e+07
Documentary             1.625452e+07

### Qual o diretor dirigiu mais filmes?

In [132]:
# ADICIONE O SEU CÓDIGO AQUI

director_count = movies_df.groupby("Director").count()
director_count = director_count.sort_values(by="Title", ascending=False)[["Title"]]

director_count.iloc[0:10]

                      Title
Director
Steven Spielberg         23
Woody Allen              16
Spike Lee                15
Martin Scorsese          15
Ridley Scott             14
Francis Ford Coppola     13
Brian De Palma           13
Joel Schumacher          12
Robert Zemeckis          12
Renny Harlin             12

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [138]:
# ADICIONE O SEU CÓDIGO AQUI

movies_df["Profit %"] = (((movies_df["Worldwide Gross"]*100)/movies_df["Production Budget"]) - 100)
movie_gross = movies_df.sort_values(by="Profit Percentage", ascending=False)[["Title","Worldwide Gross","Production Budget","Profit %"]]

movie_gross["Worldwide Gross"] = "$" + (movie_gross["Worldwide Gross"].astype(float)/1000000).astype(str) + "M"
movie_gross["Production Budget"] = "$" + (movie_gross["Production Budget"].astype(float)/1000000).astype(str) + "M"
movie_gross["Profit %"] = (movie_gross["Profit %"].astype(float)/1000).astype(str) + "%"

movie_gross.iloc[0:10]

,Title,Worldwide Gross,Production Budget,Profit %
2526,Paranormal Activity,$193.770453M,$0.015M,1291.70302%
2920,Tarnation,$1.162014M,$0.000218M,532.9339449541285%
244,Deep Throat,$45.0M,$0.025M,179.9%
603,Mad Max,$99.75M,$0.2M,49.775%
2758,Super Size Me,$29.529368M,$0.065M,45.32979692307692%
132,The Brothers McMullen,$10.426506M,$0.025M,41.606024%
1318,The Blair Witch Project,$248.3M,$0.6M,41.28333333333334%
531,El Mariachi,$2.04092M,$0.007M,29.056%
651,Night of the Living Dead,$30.0M,$0.114M,26.21578947368421%
781,Rocky,$225.0M,$1.0M,22.4%